<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>helllllo</h1>
  <p>Welcome to>
  </p>
  <img src="public/images/abctest.png" alt="Hình ảnh">
</body>

</html>